
.form {
    font-weight: bold;
    
}

.submitmsg {
    color: green;
    font-family: "Caveat", cursive;
    font-size: 25px;
}

.errormsg {
    color: red;
    font-family: "Caveat", cursive;
    font-size: 25px;
}

.req {
    color: red;
}

.head {
    font-family: "Caveat", cursive;
    font-weight: bold;
}
