
.form {
    font-weight: bold;
    font-family: "Roboto";

}

.submitmsg {
    color: green;
    font-family: "Caveat";
    font-size: 25px;


}

.errormsg {
    color: red;
    font-family: "Caveat";
    font-size: 25px;


}

.req {
    color: red;
}

.head {
    font-family: "Caveat";
    font-weight: bold;
}
